<div class="container" style="margin: 20px;">
  <div class="row">
    <h3> <%= @contact.name %> </h3>
    <h6>Phone : <%= @contact.phone %></h6>
    <h6>Address : <%= @contact.address %></h6>
    <h6>Email : <%= @contact.email %> </h6>
    <h6>Tags: <%= @contact.tag_list %></h6>
  </div>
</div>
